<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newz.api.user.repository.UserRepository">
  <select id="getUserInformationByServiceUniqueId" resultType="com.newz.api.user.vo.UserVo">
    SELECT id, name, email
    FROM user
    WHERE social_service_type = #{serviceType}
      AND social_service_unique_id = #{serviceUniqueId}
  </select>

  <select id="getUserKeywordTotalCountByUserId" resultType="int">
    SELECT count(*)
    FROM user_keyword
    WHERE user_id = #{userId}
  </select>

  <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.newz.api.user.vo.UserVo">
    INSERT INTO user(social_service_type, social_service_unique_id, name, email)
    VALUE (#{socialServiceType}, #{socialServiceUniqueId}, #{name}, #{email})
  </insert>

  <select id="getUserInformationByUserId" resultType="com.newz.api.user.vo.UserVo">
    SELECT u.id, u.name, u.email, IF(count(uk.keyword), true, false) AS haveKeywords
    FROM user u
      LEFT JOIN user_keyword uk ON u.id = uk.user_id
    WHERE u.id = #{userId}
  </select>

  <select id="getUserKeywordsByUserId" resultType="String">
    SELECT keyword
    FROM user_keyword
    WHERE user_id = #{userId}
  </select>

  <select id="getSavedKeywordTotalCountByUserId" resultType="int">
    SELECT count(*)
    FROM user_keyword
    WHERE user_id = #{userId}
  </select>

  <insert id="insertUserKeywords" parameterType="com.newz.api.user.vo.UserKeywordVo">
    INSERT IGNORE INTO user_keyword(user_id, keyword)
    VALUES
    <foreach collection="keywords" item="keyword" open="(" close=")" separator="), (">
      #{keyword.userId}, #{keyword.keyword}
    </foreach>
  </insert>

  <delete id="deleteUserKeywords" parameterType="com.newz.api.user.vo.UserKeywordVo">
    DELETE FROM user_keyword
    WHERE user_id = #{userId}
      AND keyword IN
    <foreach collection="keywords" item="keyword" open="(" close=")" separator=", ">
        #{keyword}
    </foreach>
  </delete>

  <select id="getUSerBookmarkTotalCountByUserId" resultType="int">
    SELECT count(*)
    FROM user_bookmark
    WHERE user_id = #{userId}
  </select>

  <select id="getUserBookmarkNewsByUserId" resultType="com.newz.api.user.vo.UserBookmarkVo">
    SELECT id, news_url
    FROM user_bookmark
    WHERE user_id = #{userId}
    LIMIT #{offset}, #{limit}
  </select>

  <insert id="insertUserBookmark" parameterType="com.newz.api.user.vo.UserBookmarkVo">
    INSERT IGNORE INTO user_bookmark(user_id, news_url)
    VALUE (#{userId}, #{newsUrl})
  </insert>

  <delete id="deleteUserBookmarkByBookmarkId" parameterType="int">
    DELETE FROM user_bookmark
    WHERE id = #{bookmarkId}
  </delete>
</mapper>